
@section center
{
    <div id="tabs" class="easyui-tabs" fit="true" border="false">
        <div id="mainContent" title="参数显示"></div>
    </div>
}
@section Scripts
{
    @Scripts.Render("~/bundles/deviceShow")
    <script type="text/javascript" src="signalr/hubs"></script>
}